/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #5d5337
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #212121
$primaryColor = #5d4037
$footerColor = white
